<!DOCTYPE html>
<html lang="en">
<head>
  <title>管理中心 - 分类列表</title>
  <meta name="robots">
  <meta charset="UTF-8" />
  <import type="css" file="Admin.Css.main"/>
  <import type="css" file="Admin.Css.general"/>
</head>
<body>
            <h1>
            <span class="action-span">
              <a href="__CONTROLLER__/add">添加新分类</a>
            </span>
            <span class="action-span1">
              <a href="#">管理中心</a>
            </span>
            <span id="search_id" class="action-span1">- 分类列表</span>
            <div style="clear:both"></div>
          </h1>
          <form action="__CONTROLLER__/getList" name="searchForm" method="GET" style="width: 400px; margin: 0 auto;">
              <input type="text" name="keyword" size="15" placeholder="分类名/分类描述" style="width: 220px; text-align: center;" value="<present name="Think.get.keyword">{$Think.get.keyword}</present>"/>
              <input type="submit" value=" 搜索 " class="button" />

              <if condition="($Think.get.keyword neq '') OR ($list eq '')">
                  <a href="__CONTROLLER__/getList"><input type="button" value=" 返回查看全部 " class="button" /></a>
              </if>

            </form>

  <present name="list">

          <form method="post" action="" name="listForm">

            <div class="list-div" id="listDiv">
              <table cellpadding="3" cellspacing="1">
                <tr>
                  <th>
                    分类名称
                  </th>
                  <th>
                    分类描述
                  </th>
                  <th>
                    <a href="javascript:var order='{$Think.get.order}'=='asc'?'desc':'asc',url='__CONTROLLER__/getList/sort/grade/order/'+order;location.href=url;">显示排名</a>
                    <if condition="$Think.get.sort eq 'grade'">
                        <img src="/Public/Admin/Img/sort_<if condition='$Think.get.order eq desc'>asc<else />desc</if>.gif"/>
                      <else />
                        <if condition="$Think.get.sort neq ''">
                          <span class="icon_sort">
                            <img src="/Public/Admin/Img/sort_asc.gif"/>
                            <img src="/Public/Admin/Img/sort_desc.gif"/>
                          </span>
                          <else/>
                            <img src="/Public/Admin/Img/sort_desc.gif"/>
                        </if>

                    </if>
                  </th>
                  <th>
                    正在使用
                  </th>
                  <th>
                    <a href="javascript:var order='{$Think.get.order}'=='asc'?'desc':'asc',url='__CONTROLLER__/getList/sort/add_time/order/'+order;location.href=url;">发布时间</a>
                    <if condition="$Think.get.sort eq 'add_time'">
                      <img src="/Public/Admin/Img/sort_<if condition='$Think.get.order eq desc'>desc<else />asc</if>.gif"/>
                      <else />
                        <span class="icon_sort">
                          <img src="/Public/Admin/Img/sort_asc.gif"/>
                          <img src="/Public/Admin/Img/sort_desc.gif"/>
                        </span>
                    </if>
                  </th>
                  <th>操作</th>
                </tr>

                <foreach name="list" item="vo">
                <tr>
                  <td align="center">
                    {$vo.cat_name}
                  </td>
                  <td align="center">
                    {$vo.cat_desc|mb_substr=###,0,8,'UTF-8'}
                  </td>
                  <td align="center">
                    {$vo.grade}
                  </td>
                  <td align="center">
                    <img src="/Public/Admin/Img/<eq name='vo.is_show' value='1'>yes<else />no</eq>.gif" />
                  </td>
                  <td align="center">
                    {$vo.add_time|date='Y-m-d H:i:s', ###}
                  </td>

                  <td align="center">
                    <a href="/admin.php/Good/getList/cat_id/{$vo.cat_id}" target="_blank" title="查看该分类下的所有商品">
                      看
                    </a>
                    <a href="__CONTROLLER__/edit/cat_id/{$vo.cat_id}" title="编辑该分类">
                      编
                    </a>
                    <a href="javascript:var flag={$vo.is_show};if(flag){str='确定要隐藏该分类？';}else{str='确定要显示该分类？';};if(confirm(str)){var cat_id = {$vo.cat_id}; $.get('__CONTROLLER__/hiddenShow/current/' + flag + '/cat_id/' + cat_id, function (msg) {alert(msg.info); location.reload();})}"  title="显示/隐藏分类">
                      显
                    </a>
                  </td>
                </tr>
                </foreach>
                </table>


            </table>
          </div>
          <div id="pager">{$page}</div>
        </form>

    <else />

        <p style="color:red; text-align: center;">没有匹配结果！正在返回上一页...</p>
        <script>
            setTimeout(function () {
              history.go(-1);
            }, 800);
        </script>

  </present>

</body>
</html>

<script src="/Public/Admin/Js/jquery.js"></script>
<script src="/Public/Admin/Js/good.js"></script>
