
    <div id="back" class="back"></div>
    <div class="msg"></div>
    <div class="form"></div>

    <form id="changepassword-form">
          <div class="sou-wrap">
            <p id="top"><a><img src="/Public/Wap/Img/bg.png" alt=""></a><span id="more"><img src="/Public/Wap/Img/more.png" alt=""/></span>
              修改密码
              <ul id="more_in">
                  <li onclick="location.href='/User/index'">个人中心</li>
                  <li onclick="location.href='/'">返回首页</li>
              </ul>
          </p>
          </div>
          <div class="login_wrap">
              <div class="account">
                  <input type="password" placeholder="请输入当前密码" name="password">
              </div>
              <div class="password">
                  <input type="password" placeholder="请输入新密码" name="new-password" id="new-password">
              </div>
              <div class="password mailbox">
                  <input type="password" placeholder="请再次输入新密码" name="repassword">
              </div>
              <button type="submit" name="button" class="login_btn">立即修改</button>
          </div>
    </form>
