
      <div class="Personal_top">个人中心<span></span></div>
      <div class="Personal_wrap">
          <div class="personal_back">
              <img src="<php>echo session('user.save_path');</php>" alt="">
              <span class="personal_user"><php>echo session('user.user_name');</php></span>
              <!-- <span class="grade">用户等级</span> -->
          </div>
            <div class="personal_nav">
              <ul>
                <a href="/Good/issue"><li><span>发布商品</span></li></a>
                <a href="/Beg/issue"><li><span>发布求购</span></li></a>
                <a href="/Lost/issue"><li><span>发布招领</span></li></a>
                <a href="/User/showCollect"><li><span>我的收藏</span></li></a>
                <a href="/Good/getUserList"><li><span>我的商品</span></li></a>
                <a href="/Beg/getUserList"><li><span>我的求购</span></li></a>
                <a href="/Lost/getUserList"><li><span>我的招领</span></li></a>
                <a href="/Message/showMessage"><li><span><s>我的消息<gt name="total" value="0"><b>{$total}</b></gt></s></span></li></a>
                <a href="/Switch/showSwitch"><li><span>我的换购</span></li></a>
                <a href="/Order/showOrder"><li><span>我的订单</span></li></a>
                <a href="/User/showUser"><li><span>我的账号</span></li></a>
                <a href="/User/logout"><li><span>退出</span></li></a>
                <div class="clear"></div>
              </ul>
            </div>
      </div>
    <div class="bottom">
        <ul>
          <li><a href="/"><img src="/Public/Wap/Img/bmt.png"/></a></li>
          <li><a href="/Category/getList"><img src="/Public/Wap/Img/bmp.png"/></a></li>
          <li><a href="/User/index"><img src="/Public/Wap/Img/bmw.png"/></a></li>
        </ul>
    </div>
