
    <form id="reg-form">
          <div class="sou-wrap">
            <p id="top"><a><img src="/Public/Wap/Img/bg.png" alt=""></a><span id="more"><img src="/Public/Wap/Img/more.png" alt=""/></span>
              注册
              <ul id="more_in">
                  <li onclick="location.href='/'">返回首页</li>
              </ul>
            </p>
          </div>
          <div class="login_wrap">
              <div class="account">
                  <input type="text" placeholder="请输入用户名" name="user_name">
              </div>
              <div class="password">
                  <input type="password" placeholder="请输入密码" name="password" id="password">
              </div>
              <div class="password">
                  <input type="password" placeholder="请再次输入密码" name="repassword">
              </div>
              <div class="mailbox">
                  <input type="text" placeholder="请输入邮箱" name="email">
              </div>
              <div class="remember">
                  <input type="checkbox" id="" name="remember">两个星期内免登陆
                  <input type="checkbox" id="" name="agree" class="agree">同意<a href="/Index/article">服务条款</a>
              </div>
              <button type="submit" name="button" class="login_btn reg_btn">立即注册</button>
              <span class="login_registered"><a href="/User/login">有账号,立即登录</a></span>
          </div>
    </form>
