 <div id="back" class="back"></div>
  <div class="msg"></div>
  <div class="form"></div>

    <form action="/Email/send" id="seekpassword-form">
          <div class="sou-wrap">
            <p id="top"><a><img src="/Public/Wap/Img/bg.png" alt=""></a><span id="more"><img src="/Public/Wap/Img/more.png" alt=""/></span>
              找回密码
              <ul id="more_in">
                  <li onclick="location.href='/'">返回首页</li>
              </ul>
          </p>
          </div>
          <div class="login_wrap">
              <div class="account">
                  <input type="text" placeholder="请输入用户名" name="user_name">
              </div>
              <div class="password">
                  <input type="text" placeholder="请输入所绑定的邮箱" name="email">
              </div>
              <button type="submit" name="button" class="login_btn">发送验证</button>
          </div>
    </form>
