{__NOLAYOUT__}
    <title>易物空间服务条款</title>
    <style>

html, body, div, a, h1, h2, h3, h4, h5, p, span, b, strong, ul, ol, li, dl, dt, dd, table, th, td, select, option, input{
  font-size: 100%;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  color: #333;
  background: #FFF;
  border: 1px solid #fff;
  min-height: 500px;
  padding: 35px 75px;
  width: 686px;
  overflow: hidden;
  position: relative;
}
.container h1 {
  border-bottom: 1px solid #dadada;
  color: #333;
  font-size: 16px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.container p {
  text-align: justify;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 10px;
  text-indent: 2em;
}
.aqb-policy h2, .aqb-terms h2 {
  border-bottom: 1px solid #dadada;
  margin-bottom: 10px;
  padding: 10px 0;
  font-size: 12px;
  color: #FB7905;
  text-indent: 2em;
  text-align: left;
}
ul, ol {
  list-style: outside none none;
}
.aqb-terms li {
  text-indent: 4em;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 10px;
}
.bold{font-weight: bold;}
.aqb-terms li.i2{text-indent: 2em;}
.aqb-terms li.i4{text-indent: 4em;}
</style>
</head>
<body>

<div class="container aqb-terms">
    <h1>易物空间服务条款</h1>
    <p>
        尊敬的用户，欢迎您注册成为易物空间用户。在注册前请您仔细阅读如下服务条款：
    </p>
    <p>
        本服务协议双方为本网站与本网站用户，本服务协议具有合同效力。
    </p>
    <p>
        您必须在不加修改地无条件完全接受本服务协议所包含的条款、条件和本网站已经发布的或将来可能发布的各类规则，并且遵守有关互联网及/或本网站的相关法律、规定与规则的前提下，才能进入用户注册程序。您只有成功注册成为本网站用户后，才能使用本网站提供的用户服务。如您不同意本服务条款的任意内容，请勿注册或使用本网站用户服务。根据《中华人民共和国合同法》，如您通过进入注册程序并点击相应确认按钮，即表示您与本网站已达成协议，自愿接受本服务条款；此后，您不得以未阅读本服务条款内容作任何形式的抗辩，也不得以未签署书面协议为由否认本协议的效力。
    </p>
    <p class="bold">
        请注意：本协议约定不涉及您与本网站的其他用户之间因网上交易而产生的法律关系及法律纠纷。
    </p>

    <h2>一、【关于服务的最终解释权归属问题】</h2>
    <p>对于本网站提供的所有服务，其最终解释权在法律规定的范围内归本网站所有。</p>


    <h2>二、【使用须知】</h2>
    <p>(1). 您不得利用本网站或本网站服务从事任何不符合中国法律法规或侵犯他人权益的活动。本网站在发现您从事该等活动时，有权不经通知而立即停止您对本网站的全部或部分功能的使用。</p>
    <p>(2). 在使用本网站提供的任何服务的过程中，您不得发送、公布或展示任何垃圾、广告推销邮件、信息或其他可能违反中国法律法规及本协议的内容。本网站在发现您从事该等活动或发布该等内容时，有权不经您同意而直接删除该等内容，并有权不经通知而立即暂停或停止您对本网站的全部或部分功能的使用。</p>
    <p>(3). 您确认，使用您的用户名和密码登录本网站后在本网站的一切行为均视为代表您本人意志并由您承担相应的法律后果。</p>
    <p>(4). 您保证合法使用本网站提供的资讯或服务，遵守所有与本网站服务有关的协议、规则和程序。未经本网站事先书面授权，不使用任何非法手段擅自进入本网站的未公开系统。</p>

    <h2>三、【用户信息的保护及披露】</h2>
    <p>您同意本网站在业务运营中收集和储存您的用户信息，包括但不限于您自行提供的资料和信息，以及本网站自行收集、取得的您在本网站的交易记录和使用信息等。本网站收集和储存您的用户信息的目的在于提高为您提供服务的效率和质量。</p>
    <p>您同意本网站在业务运营中使用您的用户信息，包括但不限于：</p>
        <ol>
            <li>(1). 进行用户身份、信息核实。</li>
            <li>(2). 出于提供服务的需要在本网站公示您的相关信息。</li>
            <li>(3). 向本网站的合作机构（该合作机构仅限于本网站为了完成拟向您提供的服务而合作的机构）提供您的用户信息。</li>
            <li>(4). 由人工或自动程序对您信息进行评估、分类、研究。</li>
            <li>(5). 使用您的用户信息以改进本网站的推广。</li>
            <li>(6). 使用您提供的联系方式与您联络并向您传递有关业务和管理方面的信息。</li>
            <li>(7). 用于配合有权机关依职权调取证据材料。</li>
        </ol>


    <h2>四、【用户承诺和保证】</h2>
    <p>本网站有判定用户的行为是否符合本网站服务条款的要求和精神的权利，如果用户违背本网站服务条款的规定，本网站有权中断其服务的帐号。</p>
    <p>本网站用户应保证严格遵守中国现行法律、法规、政府规章及其他应该遵守的规范性文件，不在本网站从事危害国家安全、洗钱、套现、传销等任何违法活动或者其他有违社会公共利益或公共道德的行为。如果因交易而发生争议，由交易双方负责解决并承担一切由此而导致的损失和责任。</p>
    <p>您确认在签署本协议之前已阅读包括但不限于以下与本协议及相关协议的订立及履行有关的风险提示，并对该等风险有充分理解和预期，您自愿承担该等风险可能给带来的一切责任和损失和责任。</p>
        <ol>
            <li>(1). 不可抗力：由于本网站及相关第三方的设备、系统故障或缺陷、病毒、黑客攻击、网络故障、网络中断、地震、台风、水灾、海啸、雷电、火灾、瘟疫、流行病、战争、恐怖主义、敌对行为、暴动、罢工、交通中断、停止供应主要服务、电力中断、经济形势严重恶化或其它类似事件导致的风险。</li>
        </ol>



    <h2>五、【结束服务】</h2>
    <p>
        用户或本网站可随时根据实际情况中断一项或多项服务。本网站有权基于单方独立判断，在某些情形下，不经通知而随时中断服务。用户若反对任何服务条款的建议或对后来的条款修改有异议，或对本网站服务不满，用户可以行使如下权利：
        <ol>
            <li>(1). 不再使用本网站服务。</li>
            <li>(2). 通知本网站停止对该用户的服务。</li>
            <li>结束用户服务后，用户使用本网站服务的权利马上中止。从那时起，用户没有权利，本网站也没有义务传送任何未处理的信息或未完成的服务给用户或第三方。</li>
        </ol>
    </p>


    <h2>六、【内容发布规则及处理】</h2>
    <ol>
        <li class="i2">(1). 同一个内容不得多次发布</li>
        <li class="i4">处理：一经发现将删除重复内容，只保留一个，多次警告无果，永久封号</li>
        <li class="i2">(2). 不得在本平台上发布带有虚假诈骗信息的内容</li>
        <li class="i4">处理：一经查证将删除发布内容，并且永久封号</li>
        <li class="i2">(3). 不得在本平台上发布违法内容</li>
        <li class="i4">处理：一经查证将删除发布内容，并且永久封号</li>
        <li class="i2">(4). 不得在本平台上发布与商品、求购、招领等内容无关的信息</li>
        <li class="i4">处理：一经查证将删除发布内容，并且永久封号</li>
    </ol>


    <h2>七、【保密条款】</h2>
    <p>除本协议另有约定外，本网站须根据中国法律的规定对本网站用户个人信息和相关资料予以保密。</p>



    <h2>八、【赔偿】</h2>
    <p>用户因违反本协议，或违反了任何法律、法规的规定，给本网站造成损失的，应予赔偿，赔偿范围包括但不限于本网站的直接损失、间接损失以及维权费用等。</p>
    <p>用户因违反前款规定而侵害了第三方的权利，导致本网站遭受任何第三方提起的索赔、诉讼或行政责任，用户承诺无条件承担相应责任并使本网站免责。若因此给本网站造成损失的，应予赔偿，赔偿范围包括但不限于本网站的维权费用、名誉损失以及本网站向第三方支付的补偿金等。</p>


    <h2>九、【知识产权保护】</h2>
    <p>
        本网站所有内容和服务，包括但不限于网站的整体结构、网页设计、文字、图片、图表、软件、视频文件、音频文件、源代码、广告以及本网站为用户提供的其它信息或资料，其知识产权属本网站所有。未经本网站书面许可，任何人不得为了商业目的进行复制或者以其它方式进行非法使用。
    </p>
    <p>
        任何未经授权许可而使用本网站内容的行为均属于违法行为, 本网站保留追究相关使用人法律责任的权利。
    </p>



    <h2>十、【免责声明】</h2>
    <p>(1). 除非另有书面协议约定，本网站在任何情况下，对用户使用本网站服务而产生的任何形式的直接或间接损失均不承担法律责任，包括但不限于资金损失等。</p>
    <p>(2). 用户信息主要由用户自行提供或发布，本网站无法保证所有用户信息的真实、及时和完整，用户应对自己的判断承担全部责任。</p>
    <p>(3). 任何本网站之外的第三方机构或个人所提供的服务，其服务品质及内容由该第三方自行、独立负责。</p>
    <p>(4). 因不可抗力或本网站服务器死机、网络故障、数据库故障、软件升级等问题造成的服务中断和对用户个人数据及资料造成的损失，本网站不承担任何责任，亦不予赔偿，但将尽力减少因此而给用户造成的损失和影响。</p>
    <p>(5). 因黑客、病毒或密码被盗、泄露等非本网站原因所造成损失概由您本人自行承担。</p>
    <p>(6). 您须对您本人在使用本网站所提供的服务时的一切行为、行动（不论是否故意）负全部责任。</p>
    <p>(7). 当司法机关、政府部门或其他监管机构根据有关法律、法规、规章及其他政府规范性文件的规定和程序，要求本网站提供用户信息资料，本网站对据此作出的任何披露，概不承担责任。</p>




    <h2>十一、【服务条款的修改】</h2>
    <p>
        本网站有权在必要时修改服务条款，本网站服务条款一旦发生变动，将会在重要页面上提示修改内容。如果不同意所改动的内容，用户可以主动取消获得的本网站的服务。如果用户继续享用本网站的服务，则视为接受服务条款的变动。本网站保留随时修改或中断服务而不需通知用户的权利。本网站行使修改或中断服务的权利，不需对用户或第三方负责。
    </p>


    <h2>十二、【其他】</h2>
    <p>本协议中的任何条款或部分条款因违反中国法律而无效的，不影响本协议其他条款的效力。</p>


</div>
