<link rel="stylesheet" type="text/css" href="/Public/Home/Css/order.css?v=2.1">
          <form id="order-form">

<div id="mainframe">

<div id="container-order">
  <div class="w" id="content">
    <div class="m">
      <div class="checkout-tit">
        <span class="tit-txt">填写并核对交换信息</span>
      </div>

      <div class="mc">
        <div class="checkout-steps">
          <!-- 地址开始 -->
          <div class="step-tit">
              <h3>收货人信息</h3>
              <div class="extra-r">
                  <a clstag="pageclick|keycount|trade_201602181|3" onclick="addAddress()" class="ftx-05" href="#none">新增收货地址</a>

              </div>
          </div>

          <!-- 地址开始 -->

          <div class="step-cont">
            <div class="consignee-content" id="consignee-addr">
            <!--  -->
              <div class="ui-scrollbar-wrap" style="position: relative; overflow: hidden; width: 938px; height: 150px; z-index: 10;">
                <div class="consignee-scrollbar" style="position: absolute; left: 0px; top: 0px; overflow: hidden; height: 840px; width: 100%;">
                  <div class="ui-scrollbar-main">
                    <div class="consignee-scroll">
                    <!--  -->
                      <div id="consignee1" class="consignee-cont consignee-off" style="height: 420px;">
                        <ul id="consignee-list">

                      <foreach name="addressList" item="address" key="key">

                          <eq name="key" value="0">
                            <eq name="address.is_default" value="1">
                              <!-- 隐藏表单，收货地址 -->
                                <input type="hidden" name="address_name" value="<eq name="address.is_default" value="1">{$address.address_name}</eq>">
                                <input type="hidden" name="address_location" value="<eq name="address.is_default" value="1">{$address.address_location}</eq>">
                                <input type="hidden" name="phone" value="<eq name="address.is_default" value="1">{$address.phone}</eq>">
                                <input type="hidden" name="qq" value="" value="<eq name="address.is_default" value="1">{$address.qq}</eq>">
                              <else />
                                <input type="hidden" name="address_name" value="">
                                <input type="hidden" name="address_location" value="">
                                <input type="hidden" name="phone" value="">
                                <input type="hidden" name="qq" value="" value="">
                            </eq>
                          </eq>




                          <li selected="selected" id="consignee_index_137842514" style="display: list-item;" class="ui-switchable-panel ui-switchable-panel-selected">
                            <div clstag="pageclick|keycount|trade_201602181|1" id="consignee_index_div_137842514" consigneeid="137842514" class="consignee-item <eq name="address.is_default" value="1">item-selected</eq>">
                              <span title="{$address.address_name}" limit="8">{$address.address_name}</span>
                              <b></b>
                            </div>
                            <div class="addr-detail" title="{$address.address_location}">
                               <span limit="6" class="addr-name" title="{$address.address_name}" value="{$address.address_name}">{$address.address_name}</span>
                               <span limit="45" class="addr-info" title="{$address.address_location}" value="{$address.address_location}">{$address.address_location}</span>
                               <notempty name="address.phone">
                                <span class="addr-tel" value="{$address.phone}">{$address.phone}(手机)</span>
                               </notempty>
                               <notempty name="address.qq">
                                <span class="addr-tel" value="{$address.qq}">{$address.qq}(QQ)</span>
                               </notempty>
                               <eq name="address.is_default" value="1">
                                <span class="addr-default">默认地址</span>
                               </eq>
                            </div>
                            <div class="op-btns">
                              <span></span>
                              <neq name="address.is_default" value="1">
                                <a class="ftx-05 setdefault-consignee" href="#none" onclick="setAddress({$address.address_id});">设为默认地址</a>
                              </neq>
                              <a class="ftx-05 edit-consignee" href="#none" onclick="editAddress(this, {$address.address_id});">编辑</a>
                              <a class="ftx-05 del-consignee" href="#none" onclick="delAddress(this, {$address.address_id});">删除</a>
                            </div>
                          </li>

                      </foreach>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 一个地址结束 -->

          <div class="hr"></div>

          <!-- 商品开始 -->
          <div id="shipAndSkuInfo">
              <div id="payShipAndSkuInfo">

                <div class="step-tit">
                  <h3>交换清单</h3>
                  <div class="extra-r">
                    <a clstag="pageclick|keycount|trade_201602181|15" class="return-edit ftx-05" id="cartRetureUrl" href="/Switch/match">返回重新匹配</a>
                  </div>
                </div>



                <div id="skuPayAndShipment-cont" class="step-cont">
                  <div id="shopping-lists" class="shopping-lists">


                      <!-- 一个店家的开始 -->
                      <div class="shopping-list ABTest">



                        <!-- 隐藏表单 -->
                        <input type="hidden" name="user_good_name" value="{$userGood.good_name}">
                        <input type="hidden" name="user_good_id" value="{$userGood.good_id}">
                        <input type="hidden" name="user_id" value="{$userGood.user_id}">
                        <input type="hidden" name="user_name" value="{$userGood.user_name}">
                        <input type="hidden" name="num" value="{$num}">

                        <!-- 一个商品结束 -->
                        <div class="goods-list">
                          <div class="goods-tit">
                            <h4 id="0" class="vendor_name_h">我的商品</h4>
                          </div>


                          <div class="goods-items">
                            <div goods-id="1039799" class="goods-item goods-item-extra">

                              <div class="p-img">
                                <a href="/{$userGood.good_id}.html" target="_blank"><img alt="" src="{$userGood.thumb_img}"></a>
                              </div>
                              <div class="goods-msg">
                                <div class="goods-msg-gel">
                                  <div class="p-name">
                                       <a target="_blank" href="/{$userGood.good_id}.html">
                                         {$userGood.good_name}
                                       </a>
                                  </div>
                                    <div class="p-price">
                                        <strong class="jd-price">￥<eq name="userGood.is_promote" value="1">{$userGood.promote_price}<else />{$userGood.shop_price}</eq></strong>
                                        <span class="p-num">x{$num}</span>
                                        <span skuid="1039799" class="p-state" id="pre-state"><eq name="userGood.is_number" value="1">有货<else />无货</eq></span>
                                    </div>
                                </div>
                              </div>
                              <div class="clr"></div>
                            </div>
                          </div>

                        </div>
                        <!-- 一个商品结束 -->


                        <div class="clr"></div>
                      </div>
                      <!-- 一个店家的结束 -->

                       <!-- 要交换的商品开始 -->
                      <div class="shopping-list ABTest">

                        <!-- 隐藏表单 -->
                        <input type="hidden" name="raply_good_name" value="{$raplyGood.good_name}">
                        <input type="hidden" name="raply_id" value="{$raplyGood.user_id}">
                        <input type="hidden" name="raply_name" value="{$raplyGood.user_name}">
                        <input type="hidden" name="raply_good_id" value="{$raplyGood.good_id}">
                        <input type="hidden" name="num" value="{$num}">

                        <!-- 一个商品结束 -->
                        <div class="goods-list">
                          <div class="goods-tit">
                            <h4 id="0" class="vendor_name_h">我要交换的商品</h4>
                          </div>


                          <div class="goods-items">
                            <div goods-id="1039799" class="goods-item goods-item-extra">

                              <div class="p-img">
                                <a href="/{$raplyGood.good_id}.html" target="_blank"><img alt="" src="{$raplyGood.thumb_img}"></a>
                              </div>
                              <div class="goods-msg">
                                <div class="goods-msg-gel">
                                  <div class="p-name">
                                       <a target="_blank" href="/{$raplyGood.good_id}.html">
                                         {$raplyGood.good_name}
                                       </a>
                                  </div>
                                    <div class="p-price">
                                        <strong class="jd-price">￥<eq name="raplyGood.is_promote" value="1">{$raplyGood.promote_price}<else />{$raplyGood.shop_price}</eq></strong>
                                        <span class="p-num">x{$num}</span>
                                        <span skuid="1039799" class="p-state" id="pre-state"><eq name="raplyGood.is_number" value="1">有货<else />无货</eq></span>
                                    </div>
                                </div>
                              </div>
                              <div class="clr"></div>
                            </div>
                          </div>

                        </div>
                        <!-- 一个商品结束 -->


                        <div class="clr"></div>
                      </div>
                      <!-- 要交换的商品结束 -->

                  </div>
                  <div class="clr"></div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>


    <div class="trade-foot">
      <div class="trade-foot-detail-com">
        <div class="fc-consignee-info">
            <span class="mr20">寄送至：</span>
            <span>收货人：</span>
        </div>
      </div>

      <div class="group" id="checkout-floatbar">
        <div class="ui-ceilinglamp checkout-buttons">
          <div style="display: none;" class="sticky-placeholder hide">
          </div>
      </form>
          <div class="sticky-wrap">
            <div class="inner">
              <a onclick="return submitOrder();" class="checkout-submit">
                提交申请
                <b></b>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>
</div>



<script>

// 计算地址视窗的高度
$('.ui-scrollbar-wrap').height($('#consignee_index_137842514').outerHeight(true) * $('.ui-switchable-panel').length);

// 在页面最开始，设置提交订单按钮前面的显示的收货信息值
(function () {
  if (!$('.item-selected').is('div')) {
    var _parent = $('.ui-switchable-panel-selected').eq(0);
    _parent.find('div').eq(0).addClass('item-selected');
  } else {
    var _parent = $('.item-selected').parent();
  }

  if (_parent.is('li')) {
    var address_name = _parent.find('span[class="addr-name"]').attr('value');
    var address_location = _parent.find('span[class="addr-info"]').attr('value');
    var phone = _parent.find('span[class="addr-tel"]').attr('value');
    var qq = _parent.find('span[class="addr-qq"]').attr('value');
    if (address_name) {
      var _span = $('.fc-consignee-info span');
      var one = '寄送至： ' + address_location;
      var two = '收货人： ' + address_name + ' ' + phone + '(手机)  ';
      if (qq) two += qq + '(QQ)';
      _span.first().html(one);
      _span.last().html(two);

      $('input[name="address_name"]').val(address_name);
      $('input[name="address_location"]').val(address_location);
      $('input[name="phone"]').val(phone);
      $('input[name="qq"]').val(qq);
    }
  }
})();


$('.consignee-item').click(function () {
  var _this = $(this);
  var _next = _this.next();
  $('.consignee-item').removeClass('item-selected');
  _this.addClass('item-selected');

  var address_name = _next.find('span[class="addr-name"]').attr('value');
  var address_location = _next.find('span[class="addr-info"]').attr('value');
  var phone = _next.find('span[class="addr-tel"]').attr('value');
  var qq = _next.find('span[class="addr-qq"]').attr('value');

  $('input[name="address_name"]').val(address_name);
  $('input[name="address_location"]').val(address_location);
  $('input[name="phone"]').val(phone);
  $('input[name="qq"]').val(qq);

  var _span = $('.fc-consignee-info span');
  var one = '寄送至： ' + address_location;
  var two = '收货人： ' + address_name + ' ' + phone + '(手机)  ';
  if (qq) two += qq + '(QQ)';
  _span.first().html(one);
  _span.last().html(two);

});


/**
 * 提交订单
 * @return {[type]} [description]
 */
function submitOrder () {
    if (!$('.item-selected').is('div')) {
      backAppend({status: 2, info: '您还没有选择收货地址！', href: false});
      return false;
    }
    if (confirm('提交申请之后将不能够取消，确定提交该交换申请？')) {

      $.post('/Switch/create', $('#order-form').serialize(), function (msg) {
        backAppend(msg);
      });
      return false;
    }
}

$('#consignee-list .ui-switchable-panel').mouseenter(function () {
  $(this).find('.op-btns').css('visibility', 'visible');
}).mouseleave(function () {
  $(this).find('.op-btns').css('visibility', 'hidden');
});



</script>
