<link rel="stylesheet" type="text/css" href="/Public/Home/Css/match.css?v=2.1">
        <div class="wrap matches">
            <h2>商品匹配</h2>
    <notempty name="userList" >
            <div class="match-left">
                <div class="ul-title">点击选择你的商品</div>
                <div class="ul-view view-left">
                    <div class="left-left div-ul">
                        <ul class="ul">
                        <foreach name="userList" item="uo">
                            <li _user_id="{$uo.good_id}">
                                <img src="{$uo.thumb_img}" alt="">
                                <div class="desc">
                                    <a href="/{$uo.good_id}.html"><div class="good_name">{$uo.good_name}</div></a>
                                    <div class="rmb-matches">￥{$uo.shop_price}</div>
                                </div>
                            </li>
                        </foreach>
                        </ul>
                    </div>
                </div>
                <div class="left-right">
                    <div class="img_div">
                        <!-- 大图 -->
                        <!-- <img src="" alt=""> -->
                    </div>
                    <div class="desc">
                        <div class="good_name"></div>
                        <div class="rmb-matches"></div>
                    </div>
                </div>
            </div>
        <form class="match-form" method="POST" action="/Switch/accounts">
            <div class="center">
                <div class="info">{$info}</div>
                <div class="ajax-info"><img src="/Public/Home/Img/loading.gif" />正在匹配中，请稍后</div>
                <div class="center-top">=</div>

                <empty name="Think.get.good_id">
                    <div class="match-keyword">
                        <span>输入匹配关键字：</span>
                        <input type="text" name="keyword" placeholder="可选">
                    </div>
                    <div class="match-float">
                        <span>价格浮动范围：</span>
                        <input type="text" name="float" placeholder="可选" value="30">
                    </div>
                </empty>

                <div class="match-num">
                    <span>输入交换数量：</span>
                    <input type="text" name="num" value="1">
                </div>
                <div class="center-button">
                    <input type="submit" value="交 换" class="button" onclick="return checkSwitch();">
                    <input type="hidden" name="user_good_id">
                    <empty name="Think.get.good_id">
                        <!-- 没有指定 -->
                        <input type="hidden" name="raply_id">
                        <input type="hidden" name="raply_name">
                        <input type="hidden" name="raply_good_id">
                        <button onclick="return getMatch()" _page="0" class="match-next button">换一批</button>
                    <else />
                        <!-- 指定 -->
                        <input type="hidden" name="raply_id" value="{$raplyGood.user_id}">
                        <input type="hidden" name="raply_name" value="{$raplyGood.user_name}">
                        <input type="hidden" name="raply_good_id" value="{$raplyGood.good_id}">
                    </empty>
                </div>
            </div>
        </form>
            <div class="match-right">
                <div class="right-left">
                    <div class="img_div">
                        <!-- 大图 -->
                        <!-- <img src="" alt=""> -->
                    </div>
                    <div class="desc">
                        <div class="good_name"></div>
                        <div class="rmb-matches"></div>
                    </div>
                </div>
                <div class="ul-title right-ul-title">点击选择要交换的商品</div>
                <div class="ul-view view-right">
                    <div class="right-right div-ul">
                        <ul class="ul">
                            <notempty name="Think.get.good_id">
                                <li _user_id="{$raplyGood.user_id}" _user_name="{$raplyGood.user_name}" _good_id="{$raplyGood.good_id}">
                                    <img src="{$raplyGood.thumb_img}" alt="">
                                    <div class="desc">
                                        <a href="/{$raplyGood.good_id}.html"><div class="good_name">{$raplyGood.good_name}</div></a>
                                        <eq name="raplyGood.is_promote" value="1">
                                                <div class="rmb-matches">￥{$raplyGood.promote_price}</div>
                                            <else />
                                                <div class="rmb-matches">￥{$raplyGood.shop_price}</div>
                                        </eq>

                                    </div>
                                </li>
                            </notempty>

                        </ul>
                    </div>
                </div>

            </div>

        <else />
            <p class="info-p">没有匹配到结果，是否<a href="/Good/issue" style="color: red;">立即去发布</a>新商品用以交换该商品？</p>
        </notempty>

        </div>




<script>

function checkSwitch () {
    if (!$('.match-left .left-right .img_div img').is('img')) {
        backAppend({status: 2, info: '你还没有选择你自己的物品！'});
        return false;
    }
    if (!$('.match-right .right-left .img_div img').is('img')) {
        backAppend({status: 2, info: '你还没有选择你要交换的物品！'});
        return false;
    }
    if (!$('.center .num input').val().match(/^\d+$/)) {
        backAppend({status: 2, info: '输入的交换数量非法！'});
        return false;
    }
}

$('.left-left .ul li').click(function () {
    var _this = $(this);
    var src = _this.find('img').attr('src');
    var good_name = _this.find('.good_name').text();
    var rmb = _this.find('.rmb-matches').text();
    _this.addClass('curr').siblings().removeClass('curr');
    var div = _this.parents('.match-left').find('.left-right');
    var img_div = div.find('.img_div');
    var desc = div.find('.desc');

    img_div.html('<img src="'+src+'" />');
    desc.find('.good_name').html(good_name);
    desc.find('.rmb-matches').html(rmb);

    $('button.match-next').attr('_page', 0);

    if (!{$Think.get.good_id|default=0}) { // 没有指定交换的物品
        getMatch(); // 匹配
    }
    $('.match-form').find('input[name="user_good_id"]').val(_this.attr('_user_id'));

});

$('.right-right ul li').click(function () {
    var _this = $(this);
    var src = _this.find('img').attr('src');
    var good_name = _this.find('.good_name').text();
    var rmb = _this.find('.rmb-matches').text();
    _this.addClass('curr').siblings().removeClass('curr');
    var div = _this.parent().parent().parent().parent();
    var img_div = div.find('.img_div');
    var desc = div.find('.desc');
    img_div.html('<img src="'+src+'" />');
    desc.find('.good_name').html(good_name);
    desc.find('.rmb-matches').html(rmb);

    if (!{$Think.get.good_id|default=0}) { // 没有指定交换的物品
        $('.match-form').find('input[name="raply_good_id"]').val(_this.attr('_good_id'));
        $('.match-form').find('input[name="raply_id"]').val(_this.attr('_user_id'));
        $('.match-form').find('input[name="raply_name"]').val(_this.attr('_user_name'));
    }
});

function getMatch () {
    var li = $('.left-left .ul li.curr');
    if (!li.is('li')) {
        backAppend({status: 2, info: '你还没有选择你自己的物品！', href: false});
        return false;
    }
    var good_name = li.find('.good_name').text();
    var rmb = li.find('.rmb-matches').text();
    var page = Number($('button.match-next').attr('_page')) + 1;
    var keyword = $('.match-keyword > input').val();
    if (!keyword) keyword = 0;
    var float = $('.match-float > input').val();
    if (!float) float = 30;
    $.ajax({
        type: 'get',
        url: '/Switch/match/price/' + rmb.substring(1) + '/good_name/' + good_name + '/p/' + page + '/keyword/' + keyword + '/float/' + float,
        beforeSend: function () {
            $('.ajax-info').show();
        },
        success:function (msg) {
            if (msg.status == 1) {
                $('.right-right ul').html(msg.content);
                if (!keyword && !float) {
                    $('button.match-next').attr('_page', page);
                }

            } else {
                backAppend(msg);
                $('.right-right ul').html('');
            }

            $('.right-right ul li').click(function () {
                var _this = $(this);
                var src = _this.find('img').attr('src');
                var good_name = _this.find('.good_name').text();
                var rmb = _this.find('.rmb-matches').text();
                _this.addClass('curr').siblings().removeClass('curr');
                var div = _this.parent().parent().parent().parent();
                var img_div = div.find('.img_div');
                var desc = div.find('.desc');
                img_div.html('<img src="'+src+'" />');
                desc.find('.good_name').html(good_name);
                desc.find('.rmb-matches').html(rmb);

                $('.match-form').find('input[name="raply_good_id"]').val(_this.attr('_good_id'));
                $('.match-form').find('input[name="raply_id"]').val(_this.attr('_user_id'));
                $('.match-form').find('input[name="raply_name"]').val(_this.attr('_user_name'));
            });

        },
        complete: function () {
            $('.ajax-info').hide();
        }
    });
    return false;
}
</script>
