<link rel="stylesheet" type="text/css" href="/Public/Home/Css/showOrder.css?v=2.1">
<div class="container">
  <div class="suibian">
    <ul class="middle_nav">
      <li><a href="/User/showUser">我的资料</a></li>
      <li><a href="/Good/getUserList">商品管理</a></li>
      <li><a href="/Beg/getUserList">求购管理</a></li>
      <li><a href="/Lost/getUserList">招领管理</a></li>
      <li><a href="/User/showCollect">收藏管理</a></li>
      <li><a href="/User/showAddress">地址管理</a></li>
      <li><a href="/Order/showOrder">订单管理</a></li>
      <li class="personalhover"><a href="/Switch/showSwitch">换购管理</a></li>
      <li><a href="/Message/showMessage">消息管理</a></li>
      <li><a href="/User/showReal">认证管理</a></li>
    </ul>
    <div class="clear"></div>
  </div>

  <div id="container">
    <div class="w">
      <div id="content">
        <div id="main">
          <div id="order01" class="mod-main mod-comm mod-order">
              <div class="mt">
                  <h3 onclick="showSwitchType(0);" class="<neq name="Think.get.type" value="1">curr</neq>">主动交换</h3>
                  <h3 onclick="showSwitchType(1);" class="<eq name="Think.get.type" value="1">curr</eq>">被动交换</h3>
                  <div class="extra-r"></div>
              </div>
          </div>
          <div id="order02" class="mod-main mod-comm lefta-box">
            <div class="mt">
              <ul class="extra-l">
                <li class="fore1"><a class="txt <neq name="Think.get.status" value="0">curr</neq>"  onclick="showNotFull(0);">全部交换</a></li>
                <li>
                  <a class="txt <eq name="Think.get.status" value="0">curr</eq>" clstag="" id="ordertoReceive" href="#" onclick="showNotFull(1);">待完成<em>{$notFull}</em></a>
                </li>
                <li>
                </li>
              </ul>
              <div class="extra-r">
                <div class="search">
                  <input type="text" placeholder="请输入商品名称/用户名/交换编号" class="itxt" id="ip_keyword" style="color: rgb(204, 204, 204);" name="keyword">
                  <a clstag="click|keycount|orderinfo|search" class="search-btn" onclick="searchSwitch(this);">搜索<b></b></a>
                  <!-- <a class="default-btn high-search" clstag="click|keycount|orderlist|gaoji" href="#none">高级<b></b></a> -->
                </div>
              </div>
            </div>
            <div class="mc">
              <table class="td-void order-tb">
                <colgroup>
                    <col class="number-col">
                    <col class="consignee-col">
                    <col class="amount-col">
                    <col class="status-col">
                    <col class="operate-col">
                </colgroup>
                <thead>
                  <tr>
                    <th>
                      <div class="ordertime-cont" onclick="showTimeSwitch(event);">
                        <div class="time-txt">近三个月交换<b></b><span class="blank"></span> </div>
                        <div class="time-list">
                          <ul>
                            <li><a class="curr" clstag="click|keycount|orderlist|zuijinsangeyue" _val="1" href="#none"><b></b>近三个月交换</a></li>
                            <li><a clstag="click|keycount|orderlist|jinniannei" _val="2" href="#none"><b></b>今年内交换</a></li>
                            <li><a clstag="click|keycount|orderlist|2015" _val="3" href="#none"><b></b>2015年交换</a></li>
                            <li><a clstag="click|keycount|orderlist|2014" _val="4" href="#none"><b></b>2014年交换</a></li>
                            <li><a clstag="click|keycount|orderlist|2013" _val="5" href="#none"><b></b>2013年交换</a></li>
                            <li><a clstag="click|ke ycount|orderlist|before_2013" _val="6" href="#none"><b></b>2013年以前交换</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="order-detail-txt ac">交换详情</div>
                    </th>
                    <th>收货人</th>
                    <th>角色</th>
                    <th>状态</th>
                    <th>操作</th>
                  </tr>
                </thead>

            <!-- 一个订单一个tbody -->
            <foreach name="switchList" item="switch" key="key">
              <tbody id="tb-12251082074">
                <tr class="sep-row"><td colspan="5"></td></tr>

                <tr class="tr-th">
                  <td colspan="5">
                    <span class="gap"></span>
                    <span title="{$switch.add_time|date="Y-m-d H:i:s",###}" class="dealtime">{$switch.add_time|date="Y-m-d H:i:s",###}</span>

                    <span class="number">交换编号：<a clstag="click|keycount|orderinfo|order_num" target="_blank" id="idUrl12251082074" name="orderIdLinks">{$switch.switch_sn}</a></span>
                    <div class="tr-operate">
                      <span class="order-shop">
                        <span>申请交换：</span>
                        <span class="shop-txt">{$goodList.$key.0.user_name}</span>
                        <a clstag="click|keycount|orderlist|ziyingchatim" title="联系他/她" href="#none" class="btn-im btn-im-jd" onclick="addLetter({$goodList.$key.0.user_id}, '{$goodList.$key.0.user_name}', {$Think.session.shop.user|default=-1});"></a>
                      </span>
                      <span class="order-shop">
                        <span>被交换：</span>
                        <span class="shop-txt">{$goodList.$key.1.user_name}</span>
                        <a clstag="click|keycount|orderlist|ziyingchatim" title="联系他/她" href="#none" class="btn-im btn-im-jd" onclick="addLetter({$goodList.$key.1.user_id}, '{$goodList.$key.1.user_name}', {$Think.session.shop.user|default=-1});"></a>
                      </span>
                      <!-- <a _passkey="25D65818AA427ED48B8CB7B385AC42DB" _orderid="12251082074" class="order-del" clstag="click|keycount|orderlist|dingdanshanchu" href="#none" style="display: none;" title="删除"></a> -->
                    </div>
                  </td>
                </tr>

                <tr oty="0,4,70" id="track12251082074" class="tr-bd">

                  <td>
                    <div class="goods-item p-188078">
                      <div class="p-img">
                          <a target="_blank" clstag="click|keycount|orderinfo|order_product" href="http://item.jd.com/188078.html">
                            <img width="60" height="60" data-lazy-img="done" title="{$goodList.$key.0.good_name}" src="{$goodList.$key.0.thumb_img}" class="">

                          </a>
                      </div>
                      <div class="p-msg">
                        <div class="p-name"><a title="{$goodList.$key.0.good_name}" target="_blank" clstag="click|keycount|orderinfo|order_product" class="a-link" href="/{$goodList.$key.0.good_id}.html">{$goodList.$key.0.good_name}</a></div>
                      </div>
                    </div>
                    <div class="goods-number">
                        x{$switch.num}
                    </div>

                    <div class="clr"></div>
                  </td>

                  <td rowspan="1">
                    <div class="consignee tooltip">
                      <span class="txt">{$switch.address_name}</span><b></b>
                      <div class="prompt-01 prompt-02">
                        <div class="pc">
                          <strong>{$switch.address_name}</strong>
                          <p>{$switch.address_location}</p>
                          <p>{$switch.phone}</p>
                        </div>
                        <div class="p-arrow p-arrow-left"></div>
                      </div>
                    </div>
                  </td>
                  <td rowspan="1">
                    <div class="amount">
                      <span>申请交换</span>
                    </div>
                  </td>
                  <td rowspan="2">
                    <div class="status">
                      <span class="order-status ftx-03">

                      <switch name="switch.status" >
                      <case value="0">等待对方同意</case>
                      <case value="1">对方已同意，等待交易完成</case>
                      <case value="2">对方拒绝，交易取消</case>
                      <case value="3">交换完成</case>
                      </switch>

                      </span>
                    </div>
                  </td>
                  <td id="operate12251082074" rowspan="2">
                    <div class="operate">
                      <div _baina="0" id="pay-button-12251082074"></div>

                        <eq name="switch.is_agree" value="0">
                          <neq name="switch.status" value="2">
                              <php>if ($switch['raply_id'] == session('user.user_id')) {</php>
                                <span target="_blank" class="btn-again" onclick="changeSwitchStatus({$switch.switch_id}, 1);">同意</span>
                                <br/>
                                <br/>
                                <span target="_blank" class="btn-again" onclick="changeSwitchStatus({$switch.switch_id}, 2);">不同意</span>
                              <php>}</php>
                          </neq>
                        </eq>

                        <php>if ($switch['user_id'] == session('user.user_id')) {</php>
                          <eq name="switch.status" value="1">
                            <span target="_blank" class="btn-again" style="cursor: text;"></span>
                            <else />
                              <php>if ($switch['user_id'] != session('user.user_id')) {</php>
                                  <span target="_blank" class="btn-again" onclick="changeSwitchStatus({$switch.switch_id}, 3)"><b></b>完成</span>
                              <php>}</php>
                          </eq>
                        <php>}</php>


                      <br>
                    </div>
                  </td>
                </tr>

<!-- <php>print_r($goodList);</php> -->
 <!-- {$goodList.$key.1.good_name} -->
                <tr oty="0,4,70" id="track12251082074" class="tr-bd">

                  <td>
                    <div class="goods-item p-188078">
                      <div class="p-img">
                          <a target="_blank" clstag="click|keycount|orderinfo|order_product" href="http://item.jd.com/188078.html">
                            <img width="60" height="60" data-lazy-img="done" title="{$goodList.$key.1.good_name}" src="{$goodList.$key.1.thumb_img}" class="">

                          </a>
                      </div>
                      <div class="p-msg">
                        <div class="p-name"><a title="{$goodList.$key.1.good_name}" target="_blank" clstag="click|keycount|orderinfo|order_product" class="a-link" href="/{$goodList.$key.1.good_id}.html">{$goodList.$key.1.good_name}</a></div>

                      </div>
                    </div>
                    <div class="goods-number">
                        x{$switch.num}
                    </div>

                    <div class="clr"></div>
                  </td>

                  <td rowspan="1">
                    <div class="consignee tooltip">
                      <span class="txt">{$goodList.$key.1.user_name}</span><b></b>
                      <div class="prompt-01 prompt-02">
                        <div class="pc">
                          <strong>{$goodList.$key.1.user_name}</strong>
                          <p>{$goodList.$key.1.address}</p>
                          <p>{$goodList.$key.1.phone}</p>
                        </div>
                        <div class="p-arrow p-arrow-left"></div>
                      </div>
                    </div>
                  </td>
                  <td rowspan="1">
                    <div class="amount">
                      <span>被交换</span>
                    </div>
                  </td>

                </tr>

              </tbody>

            </foreach>

              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt20">
  <div class="pagin fr">
    <div>{$page}</div>
  </div>
  <div class="clr"></div>
</div>

<script type="text/javascript">

var _status = {$Think.get.status|default=2}; // 0：未完成，1：已完成
var _type = {$Think.get.type|default=0};  // 0：买家订单

// 自动选中正确的时间类别
var _timeType = {$Think.get.timeType|default=1}; // 查看一定时间范围内的订单
if (_timeType) {
  var _obj = $('.time-list ul li').eq(_timeType-1);
  _obj.find('a').addClass('curr');
  _obj.siblings().find('a').removeClass('curr');
  $('.ordertime-cont .time-txt').html(_obj.text() + '<b></b>');
}

// 收货人信息的查看和隐藏
$('.consignee').mouseenter(function () {
  $(this).find('.prompt-01').show();
}).mouseleave(function () {
  $(this).find('.prompt-01').hide();
});

function changeSwitchStatus (switch_id, status) {
    if (confirm('确定执行该操作？')) {
        $.post('/Switch/changeSwitchStatus', {switch_id: switch_id, status: status}, function (msg) {
        backAppend(msg);
      });
    }
}

function showNotFull (status) {
  var type = {$Think.get.type|default=0};  // 0：买家订单
  status = status ? 0 : 1; // 为1，说明要查看未完成订单，所以status=0
  location.href = '/Switch/showSwitch/status/' + status + '/type/' + type;
}

function searchSwitch (e) {
  var _this = $(e);
  var val = _this.prev().val();
  location.href = '/Switch/showSwitch/keyword/' + val;
}

function showSwitchType (type) {
  location.href = '/Switch/showSwitch/type/' + type;
}

function showTimeSwitch(e, timeType) {
  var status = {$Think.get.status|default=2}; // 0：未完成，1：已完成
  var type = {$Think.get.type|default=0};  // 0：买家订单
  var timeType = {$Think.get.timeType|default=1}; // 查看一定时间范围内的订单

  $('.ordertime-cont .time-list').toggle();
  var target = $(e.target);
  var timeType = target.attr('_val');
  $('.ordertime-cont .time-txt').html(target.text() + '<b></b>');
  if (timeType) {
    location.href = "/Switch/showSwitch/timeType/" + timeType + '/type/' + type + '/status/' + status;
  }
}

</script>
