{__NOLAYOUT__}
<div class="page head-page letter-page">
<div class="head-form address-box" id="form-div">
    <form action="" method="POST" class="letter-form">
        <div id="letter_div" class="moxie-shim moxie-shim-html5">
            <input type="password" name="password" class="send-mail" placeholder="请输入您的密码">
        </div>
        <div id="letter_div" class="moxie-shim moxie-shim-html5">
            <input type="email" name="email" class="send-mail" placeholder="请输入您的新邮箱">
        </div>
        <div class="buttons">
            <input value="修改" type="button" name="letter" onclick="changeEmail();">
        </div>
    </form>
</div>

</div>
