<form id="password-form" method="post">

<div class="wrap">
	<div class="post_text">
			<img src="/Public/Home/Img/release-icon.png" alt="" />
	</div>
<div class="information">

	<div class="commodity">
		<div class="commodity_left">
            <p class="product-name">　<font color="red">*</font>密码</p>
			<p class="product-name">　<font color="red">*</font>确认密码</p>
		</div>
		<div class="commodity_right">
			<div>
                <input type="password" name="password" id="password" class="product-text" placeholder="必填：请输入您要设置的新密码">
                <div class="error-div" id="password-error">
                    <div class="easytip-text">密码长度必须在6—16个字符内</div><div class="easytip-arrow">
                    </div>
                </div>
            </div>
			<div>
                <input type="password" name="repassword" id="repassword" class="product-text" placeholder="必填：请再一次输入您的新密码">
                <div class="error-div" id="repassword-error">
                    <div class="easytip-text">两次密码输入要一致</div><div class="easytip-arrow">
                    </div>
                </div>
            </div>

		</div>

        <div class="Release-button" style="clear: both; margin-left: 280px;">
            <input type="submit" name="name" value="完成修改">
        </div>
    </div>


	<div class="clear"></div>
</div>

</form>

<script src="/Public/Home/Js/validate.js"></script>

<script>
    $( "#password-form" ).validate( {
        rules: {
          password: {
            required: true,
            minlength: 6,
            maxlength: 20
          },
          repassword: {
            required: true,
            minlength: 6,
            maxlength: 20,
            equalTo: "#password"
          },
        },
        submitHandler: function(form){
          $.post('/User/changePassword', $(form).serialize(), function (msg) {
            backAppend(msg);
            $('.page').hide();
          });
        },
        success: function (label){
            $('#' + $(label).attr('for') + '-error').hide();
        },
        errorPlacement: function ( error, element ) {
            $('#' +  $( element ).attr('id') + '-error').show();
        }
    })
</script>
