{__NOLAYOUT__}
<div class="page head-page">
<div class="head-form address-box" id="form-div">

        <div id="html5" class="html5-head moxie-shim moxie-shim-html5" style="margin: 0 18px;">
          <div>
            <input id="html5_file" type="file" name="files" multiple="multiple" accept="image/*" class="image-input" capture="camera">
          </div>
        </div>
        <div class="upload-info">选择图片</div>
        <div class="buttons">
            <input value="修 改" type="button" onclick="return subHeadImg(this);" status="0" class="sub">
        </div>

</div>

</div>

<script type="text/javascript">

function subHeadImg (e) {
  var _this = $(e);
  switch (Number(_this.attr('status'))) {
    case 0:
      alert('您还没有选择图片');
      return false;
      break;
    case 1:
      alert('正在上传图片，请等待！');
      return false;
      break;
    case 2:
      $.post('/User/editHeadImg', {img: $('#html5 input[name="images"]').val()}, function (msg) {
        if (1 == msg.status) {
          $('.form').hide();
          backAppend(msg);
        } else {
          alert(msg.info);
        }
      });
      break;
  }

}


$('.back').html('');
$('.error-div').hide();

// 遮罩层
$('.back').click(function(){
    $('.page').hide();
    $(this).hide();
    $('.error-div').hide();
    $(window).unbind ('scroll');
})


$('#html5_file').change(function(evt){
    var sub = $('input.sub');
    sub.attr('status', 1);  // 等待上传完成


    var files = evt.target.files;

    for (var i = 0, f; f = files[i]; i++) {

      var reader = new FileReader();

      reader.readAsDataURL(f);

      reader.onload = function(e){
            $.post("/User/uploadHead", { img: e.target.result},function(msg){

                $('.upload-info').html('正在上传');

                if (msg.status == 1) {
                    $('#html5').prepend('<div class="photo" id="image"><span class="close"></span><div><img width="140" height="140" src="' + e.target.result + '" alt="" class="image" url=""></div><div class="processbar hide" id="o_1afm0hqb853l6g21fjs3mt1au9" style="width: 100%;"></div></div>');

                    $('#html5_file').hide();

                    $('.close').click(function () {
                        $(this).parent().detach();
                        $('#html5_file').show();
                    });

                    $("#html5").append('<input type="hidden" name="images" value="'+msg.path+'">');
                    sub.attr('status', 2);
                    $('.upload-info').html('上传完成');
                } else {
                    alert(msg.info);
                    $('.upload-info').html('选择图片');
                }
            });

      }

    }
});



</script>
