<!DOCTYPE html>
<html lang="en">
<head>
  <title>管理中心 - 商品列表</title>
  <meta name="robots">
  <meta charset="UTF-8" />
  <import type="css" file="Admin.Css.general" />
  <import type="css" file="Admin.Css.main" />
</head>
<body>

  <h1>
    <span class="action-span">
      <a href="/Good/issue">添加新商品</a>
    </span>
    <span class="action-span1">
      <a href="#">管理中心</a>
    </span>
    <span id="search_id" class="action-span1">- <eq name="Think.get.check" value="0">未审核商品列表<else />商品列表</eq></span>
    <div style="clear:both"></div>
  </h1>

  <div class="form-div">

  <form action="__CONTROLLER__/getList" name="searchForm" method="get" style="width: 400px; margin: 0 auto;">
      <select name="cat_id">
        <option value="0">选择分类</option>
        <foreach name="categoryList" item="co">
          <option value="{$co.cat_id}">{$co.cat_name}</option>
        </foreach>
      </select>
      <input type="text" name="keyword" size="15" placeholder="商品名/商品SN/关键字/用户名/用户ID" style="width: 220px; text-align: center;" value="<present name="Think.get.keyword">{$Think.get.keyword}</present>"/>
      <input type="submit" value=" 搜索 " class="button" />

  </form>

  <present name="list">

          <form name="listForm" id="listForm">

            <div class="list-div" id="listDiv">
              <table cellpadding="3" cellspacing="1">
                <tr>
                 <th>
                    <a href="javascript:var order='{$Think.get.order}'=='desc'?'asc':'desc',url='__CONTROLLER__/getList/sort/good_id/order/'+order;location.href=url;">编号</a>
                    <if condition="$Think.get.sort eq 'good_id'">
                      <img src="/Public/Admin/Img/sort_<if condition='$Think.get.order eq desc'>desc<else />asc</if>.gif"/>
                      <else />
                        <span class="icon_sort">
                          <img src="/Public/Admin/Img/sort_asc.gif"/>
                          <img src="/Public/Admin/Img/sort_desc.gif"/>
                        </span>
                    </if>
                  </th>
                  <th>
                    <a href="javascript:var order='{$Think.get.order}'=='desc'?'asc':'desc',url='__CONTROLLER__/getList/sort/good_sn/order/'+order;location.href=url;">货号</a>
                    <if condition="$Think.get.sort eq 'good_sn'">
                      <img src="/Public/Admin/Img/sort_<if condition='$Think.get.order eq desc'>desc<else />asc</if>.gif"/>
                      <else />
                        <span class="icon_sort">
                          <img src="/Public/Admin/Img/sort_asc.gif"/>
                          <img src="/Public/Admin/Img/sort_desc.gif"/>
                        </span>
                    </if>
                  </th>

                  <th>
                    商品名称
                  </th>

                  <th>
                    <a href="javascript:var order='{$Think.get.order}'=='desc'?'asc':'desc',url='__CONTROLLER__/getList/sort/shop_price/order/'+order;location.href=url;">价格</a>
                    <if condition="$Think.get.sort eq 'shop_price'">
                      <img src="/Public/Admin/Img/sort_<if condition='$Think.get.order eq desc'>desc<else />asc</if>.gif"/>
                      <else />
                        <span class="icon_sort">
                          <img src="/Public/Admin/Img/sort_asc.gif"/>
                          <img src="/Public/Admin/Img/sort_desc.gif"/>
                        </span>
                    </if>
                  </th>

                  <th>
                    <a href="javascript:var order='{$Think.get.order}'=='desc'?'asc':'desc',url='__CONTROLLER__/getList/sort/good_number/order/'+order;location.href=url;">库存</a>
                    <if condition="$Think.get.sort eq 'good_number'">
                      <img src="/Public/Admin/Img/sort_<if condition='$Think.get.order eq desc'>desc<else />asc</if>.gif"/>
                      <else />
                        <span class="icon_sort">
                          <img src="/Public/Admin/Img/sort_asc.gif"/>
                          <img src="/Public/Admin/Img/sort_desc.gif"/>
                        </span>
                    </if>
                  </th>

                  <th>
                   <a href="javascript:var order='{$Think.get.order}'=='desc'?'asc':'desc',url='__CONTROLLER__/getList/sort/is_on_sale/order/'+order;location.href=url;">上架</a>
                    <if condition="$Think.get.sort eq 'is_on_sale'">
                      <img src="/Public/Admin/Img/sort_<if condition='$Think.get.order eq desc'>desc<else />asc</if>.gif"/>
                      <else />
                        <span class="icon_sort">
                          <img src="/Public/Admin/Img/sort_asc.gif"/>
                          <img src="/Public/Admin/Img/sort_desc.gif"/>
                        </span>
                    </if>
                  </th>

                  <th>
                    <a href="javascript:var order='{$Think.get.order}'=='desc'?'asc':'desc',url='__CONTROLLER__/getList/sort/is_promote/order/'+order;location.href=url;">促销</a>
                    <if condition="$Think.get.sort eq 'is_promote'">
                      <img src="/Public/Admin/Img/sort_<if condition='$Think.get.order eq desc'>desc<else />asc</if>.gif"/>
                      <else />
                        <span class="icon_sort">
                          <img src="/Public/Admin/Img/sort_asc.gif"/>
                          <img src="/Public/Admin/Img/sort_desc.gif"/>
                        </span>
                    </if>
                  </th>

                  <th>
                    <a href="javascript:var order='{$Think.get.order}'=='desc'?'asc':'desc',url='__CONTROLLER__/getList/sort/is_check/order/'+order;location.href=url;">审核</a>
                    <if condition="$Think.get.sort eq 'is_check'">
                      <img src="/Public/Admin/Img/sort_<if condition='$Think.get.order eq desc'>desc<else />asc</if>.gif"/>
                      <else />
                        <span class="icon_sort">
                          <img src="/Public/Admin/Img/sort_asc.gif"/>
                          <img src="/Public/Admin/Img/sort_desc.gif"/>
                        </span>
                    </if>
                  </th>
                  <th>
                    <a href="javascript:var order='{$Think.get.order}'=='desc'?'asc':'desc',url='__CONTROLLER__/getList/sort/is_lift/order/'+order;location.href=url;">举报</a>
                    <if condition="$Think.get.sort eq 'is_lift'">
                      <img src="/Public/Admin/Img/sort_<if condition='$Think.get.order eq desc'>desc<else />asc</if>.gif"/>
                      <else />
                        <span class="icon_sort">
                          <img src="/Public/Admin/Img/sort_asc.gif"/>
                          <img src="/Public/Admin/Img/sort_desc.gif"/>
                        </span>
                    </if>
                  </th>
                  <th>
                    <a href="javascript:var order='{$Think.get.order}'=='desc'?'asc':'desc',url='__CONTROLLER__/getList/sort/is_delete/order/'+order;location.href=url;">删除</a>
                    <if condition="$Think.get.sort eq 'is_delete'">
                      <img src="/Public/Admin/Img/sort_<if condition='$Think.get.order eq desc'>desc<else />asc</if>.gif"/>
                      <else />
                        <span class="icon_sort">
                          <img src="/Public/Admin/Img/sort_asc.gif"/>
                          <img src="/Public/Admin/Img/sort_desc.gif"/>
                        </span>
                    </if>
                  </th>
                  <th>
                    <a href="javascript:var order='{$Think.get.order}'=='asc'?'desc':'asc',url='__CONTROLLER__/getList/sort/add_time/order/'+order;location.href=url;">发布时间</a>
                    <if condition="$Think.get.sort eq 'add_time'">
                        <img src="/Public/Admin/Img/sort_<if condition='$Think.get.order eq desc'>desc<else />asc</if>.gif"/>
                      <else />
                        <if condition="$Think.get.sort neq ''">
                          <span class="icon_sort">
                            <img src="/Public/Admin/Img/sort_asc.gif"/>
                            <img src="/Public/Admin/Img/sort_desc.gif"/>
                          </span>
                          <else/>
                            <img src="/Public/Admin/Img/sort_desc.gif"/>
                        </if>

                    </if>
                  </th>
                  <th>
                    <a href="#">发布者</a>
                  </th>
                  <th>操作</th>
                </tr>
                <foreach name="list" item="vo">
                <tr>
                  <td>
                    <input type="checkbox" name="good_id[]" value="{$vo.good_id}" />
                    {$vo.good_id}
                  </td>
                  <td class="first-cell" style="">
                    <span >
                      {$vo.good_sn}
                    </span>
                  </td>
                  <td>
                    <span >
                      {$vo.good_name}
                    </span>
                  </td>

                  <td align="right">
                    <span >
                      {$vo.shop_price}
                    </span>
                  </td>
                  <td>
                    <span >
                      {$vo.good_number}
                    </span>
                  </td>

                  <td align="center">
                    <img src="/Public/Admin/Img/<eq name='vo.is_on_sale' value='1'>yes<else />no</eq>.gif" />
                  </td>
                  <td align="center">
                    <img src="/Public/Admin/Img/<eq name='vo.is_promote' value='1'>yes<else />no</eq>.gif" />
                  </td>
                  <td align="center">
                    <img src="/Public/Admin/Img/<eq name='vo.is_check' value='1'>yes<else />no</eq>.gif" />
                  </td>
                  <td align="center">
                    <img src="/Public/Admin/Img/<eq name='vo.is_lift' value='1'>yes<else />no</eq>.gif" />
                  </td>
                  <td align="center">
                    <img src="/Public/Admin/Img/<eq name='vo.is_delete' value='1'>yes<else />no</eq>.gif" />
                  </td>

                  <td align="center">
                    <span >
                      {$vo.add_time|date='Y-m-d H:i:s',###}
                    </span>
                  </td>
                  <td align="center">
                    <span >
                      {$vo.user_name}
                    </span>
                  </td>
                  <td align="center">
                    <a href="/{$vo.good_id}.html" target="_blank" title="查看该商品页面">
                      看
                    </a>
                    <a href="javascript:var url = '__CONTROLLER__', good_id = {$vo.good_id}, current = {$vo.is_on_sale};if(confirm('确定切换上架状态？')){$.get(url + '/onsale/good_id/' + good_id + '/current/' + current, function (msg) {alert(msg.info); location.reload();});}" title="切换上架状态">
                      架
                    </a>
                    <a href="javascript:var url = '__CONTROLLER__', good_id = {$vo.good_id}, current = {$vo.is_promote};if(confirm('确定切换促销状态？')){$.get(url + '/promote/good_id/' + good_id + '/current/' + current, function (msg) {alert(msg.info); location.reload();});}" title="切换促销状态">
                      促
                    </a>
                    <a href="javascript:var url = '__CONTROLLER__', good_id = {$vo.good_id}, current = {$vo.is_check};if(confirm('确定切换审核状态？')){$.get(url + '/check/good_id/' + good_id + '/current/' + current, function (msg) {alert(msg.info); location.reload();});}" title="切换审核状态">
                      审
                    </a>
                    <a href="javascript:var url = '__CONTROLLER__', good_id = {$vo.good_id}, current = {$vo.is_lift};if(confirm('确定切换举报状态？')){$.get(url + '/lift/good_id/' + good_id + '/current/' + current, function (msg) {alert(msg.info); location.reload();});}" title="切换举报状态">
                      举
                    </a>
                    <a href="javascript:var url = '__CONTROLLER__', good_id = {$vo.good_id}, current = {$vo.is_delete};if(confirm('确定移动到回收站？')){$.get(url + '/delete/good_id/' + good_id + '/current/' + current, function (msg) {alert(msg.info); location.reload();});}" title="移动到回收站">
                      删
                    </a>
                  </td>
                </tr>
                </foreach>
                </table>


            </table>
          </div>
          <div id="full_action" style="float: left;">
            <input type="button" value="全选" onclick="full_select();">
            <input type="button" value="不全选" onclick="del_select();">
            <input type="button" value="全部删除" onclick="multiGood('delete');">
            <input type="button" value="全部下架" onclick="multiGood('onsale');">
            <input type="button" value="全部通过审核" onclick="multiGood('check');">
            <input type="button" value="全部取消举报" onclick="multiGood('lift');">
          </div>
          <div id="pager">{$page}</div>

        </form>


    <else />

        <p style="color:red; text-align: center;">没有匹配结果！正在返回上一页...</p>
        <script>
            setTimeout(function () {
              history.go(-1);
            }, 800);
        </script>


  </present>


</body>
</html>

<script src="/Public/Admin/Js/jquery.js"></script>
<script src="/Public/Admin/Js/good.js"></script>
