{__NOLAYOUT__}
<div class="page">

  <div class="form-div match-div" id="form-div2">
      <form id="login-form" action="/Good/match" method="get">
          <table>
              <tr>
                  <td>　关键字</td>
                  <td><input name="keyword" type="text" id="username">
                  </td>
              </tr>
              <tr>
                  <td>　价　格</td>
                  <td><input name="price" type="password" id="password"></td>
              </tr>
          </table>

          <div class="buttons">
              <input value="开始匹配" type="submit" style="margin-left: 50px;">
          </div>
          <br class="clear">
      </form>
  </div>
</div>
