    <div class="container">

        <div class="suibian">
          <ul class="middle_nav">
            <li><a href="/User/showUser/user_id/{$Think.get.user_id}">TA的资料</a></li>
            <li class="personalhover"><a href="/Good/getUserList/user_id/{$Think.get.user_id}">TA的商品</a></li>
            <li><a href="/Beg/getUserList/user_id/{$Think.get.user_id}">TA的求购</a></li>
            <li><a href="/Lost/getUserList/user_id/{$Think.get.user_id}">TA的招领</a></li>
          </ul>
          <div class="clear">
          </div>
       </div>
       <div class="qq">
         <div class="sc">

          <foreach name="list" item="vo">

             <div class="enshr_each">
                 <a href="/{$vo.good_id}.html"><img src="{$vo.thumb_img}" alt=""></a>
                 <h2><a href="/{$vo.good_id}.html">{$vo.good_name}</a></h2>
                 <p>
                   <span class="price-left">销售价：</span><span class="shop-price"><em>￥</em>{$vo.shop_price}</span>
                   <eq name="vo.is_promote" value="1">
                      <span class="price-left">促销价：</span><span class="shop-price"><em>￥</em>{$vo.shop_price}</span>
                   </eq>
                   <span class="time">发布时间：{$vo.add_time|date="Y年m月d日",###}</span>
                 </p>
                 <div class="enshr_state">
                    <span class="onsaling">销量：<b>{$vo.sales_num}</b></span>
                    <span class="onsaling">库存：<b>{$vo.good_number}</b></span>
                    <span class="onsaling">收藏：<b>{$vo.collect_num}</b></span>
                 </div>
             </div>
          </foreach>
         </div>
        </div>
    </div>

<div class="mt20">
    <div class="pagin fr">
        <div>{$page}</div>
    </div>
    <div class="clr"></div>
</div>
