<div id="back" class="back"></div>
<div class="msg"></div>
<div class="form"></div>

<div class="sou-wrap">
    <p id="top"><a><img src="/Public/Wap/Img/bg.png" alt=""></a><span class="menu-btn"><img src="/Public/Wap/Img/more.png" alt=""></span>
        求购专区
    </p>
    <div>
        <form action="/Beg/getList" method="GET">
            <input type="text" id="sousuo" name="keyword" placeholder="请输入您要搜索的关键字">
            <input type="submit" id="btn" value="">
        </form>
    </div>
</div>
<div id="beg-wrap">
    <present name="list">
            <ul id="news">
                <foreach name="list" item="vo">
                    <li>
                        <h4 class="style">{$vo.beg_title}</h4 >
                        <span class="beg-status">状态：<eq name="vo.is_full" value="1">已完成<else />未完成</eq></span><span class="meny">￥{$vo.price}</span>
                        <div class="clear"></div>
                        <p class="con">{$vo.beg_desc}</p>
                        <p class="locations_connection"><notempty name="vo.phone">手机：{$vo.phone|substr=###,0,4}*******</notempty><notempty name="vo.qq">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ：{$vo.qq|substr=###,0,4}*******</notempty></p>
                        <p class="locations_time"><span class="left"><a clstag="click|keycount|orderlist|ziyingchatim" title="联系他/她" href="#none" class="btn-im btn-im-jd left" onclick="addLetter({$vo.user_id}, '{$vo.user_name}', {$Think.session.shop.user|default=-1});"></a><a href="/User/showUser/user_id/{$vo.user_id}">{$vo.user_name}</a></span>发布时间：{$vo.add_time|date="Y-m-d",###}</p>
                        <p class="locations_beg">交易地点：{$vo.address}</p>
                        <div class="clear"></div>
                    </li>
                </foreach>
            </ul>
        <else />

            <p class="empty-p">抱歉，没有找到结果，正在返回上一页...</p>
            <script type="text/javascript">setTimeout(function(){history.go(-1);}, 1000);</script>
    </present>
</div>
<div class="mt20">
    <div class="pagin fr">
        <div>{$page}</div>
    </div>
    <div class="clr"></div>
</div>
