<link rel="stylesheet" type="text/css" href="/Public/Home/Css/showOrder.css?v=2.1">
<link rel="stylesheet" type="text/css" href="/Public/Home/Css/main.css?v=2.1">
<div class="container">

  <div id="container">
    <div class="w">
      <div id="content">
        <div id="main">

          <div id="order02" class="mod-main mod-comm lefta-box">
            <div class="mc">
              <table class="td-void order-tb">
                <colgroup>
                    <col class="number-col">
                    <col class="consignee-col">
                    <col class="amount-col">
                    <col class="status-col">
                    <col class="operate-col">
                </colgroup>
                <thead>
                  <tr>
                    <th>
                     订单详情
                    </th>
                    <th>收货人</th>
                    <th>金额</th>
                    <th>
                      <div>
                        <div>状态<span class="blank"></span></div>
                      </div>
                    </th>

                  </tr>
                </thead>

              <!-- 一个订单一个tbody -->
              <foreach name="orderList" item="order" key="key">
                <tbody id="tb-12251082074">
                  <tr class="sep-row"><td colspan="5"></td></tr>

                  <tr class="tr-th">
                    <td colspan="5">
                      <span class="gap"></span>
                      <span title="{$order.add_time|date="Y-m-d H:i:s",###}" class="dealtime">{$order.add_time|date="Y-m-d H:i:s",###}</span>
                      <input type="hidden" value="2016-02-29 23:00:47" id="datasubmit-12251082074">

                      <span class="number">订单号：<a clstag="click|keycount|orderinfo|order_num" target="_blank" id="idUrl12251082074" name="orderIdLinks">{$order.order_sn}</a></span>

                      <div class="tr-operate">
                        <span class="order-shop">
                          <span>卖家：</span>
                          <span class="shop-txt">{$order.seller_name}</span>
                          <a clstag="click|keycount|orderlist|ziyingchatim" title="联系他/她" href="#none" class="btn-im btn-im-jd" onclick="addLetter({$order.seller_id}, '{$order.seller_name}');"></a>
                        </span>
                        <span class="order-shop">
                          <span>买家：</span>
                          <span class="shop-txt">{$order.user_name}</span>
                          <a clstag="click|keycount|orderlist|ziyingchatim" title="联系他/她" href="#none" class="btn-im btn-im-jd" onclick="addLetter({$order.user_id}, '{$order.seller_name}');"></a>
                        </span>
                        <!-- <a _passkey="25D65818AA427ED48B8CB7B385AC42DB" _orderid="12251082074" class="order-del" clstag="click|keycount|orderlist|dingdanshanchu" href="#none" style="display: none;" title="删除"></a> -->
                      </div>
                    </td>
                  </tr>

                <!-- 一个商品一个tr -->
                <foreach name="goodList[$key]" item="good" key="key2">

                    <eq name="key2" value="0">
                        <!-- 仅第一个进入 -->
                        <tr oty="0,4,70" id="track12251082074" class="tr-bd">


                          <td>
                            <div class="goods-item p-188078">
                              <div class="p-img">
                                  <a target="_blank" clstag="click|keycount|orderinfo|order_product" href="http://item.jd.com/188078.html">
                                    <img width="60" height="60" data-lazy-img="done" title="{$good.good_name}" src="{$good.thumb_img}" class="">

                                  </a>
                              </div>
                              <div class="p-msg">
                                <div class="p-name"><a title="{$good.good_name}" target="_blank" clstag="click|keycount|orderinfo|order_product" class="a-link" href="/{$good.good_id}.html">{$good.good_name}</a></div>

                              </div>
                            </div>
                            <div class="goods-number">
                                x{$good.num}
                            </div>

                            <div class="clr"></div>
                          </td>

                          <td rowspan="{$goodList.$key|count=###}">
                            <div class="consignee tooltip">
                              <span class="txt">{$order.address_name}</span><b></b>
                              <div class="prompt-01 prompt-02">
                                <div class="pc">
                                  <strong>{$order.address_name}</strong>
                                  <p>{$order.address_location}</p>
                                  <p>{$order.phone}</p>
                                </div>
                                <div class="p-arrow p-arrow-left"></div>
                              </div>
                            </div>
                          </td>
                          <td rowspan="{$goodList.$key|count=###}">
                            <div class="amount">
                              <span>总额 ¥{$order.total_price}</span>
                            </div>
                          </td>
                          <td rowspan="{$goodList.$key|count=###}">
                            <div class="status">
                              <span class="order-status ftx-03">
                              <eq name="order.status" value="1">
                                已完成
                              <else />
                                未完成
                              </eq>
                              </span>
                              <br>
                            </div>
                          </td>
                        </tr>

                    <else />

                        <!-- 仅在不是第一个进入 -->
                        <tr oty="0,4,70" id="track12251082074" class="tr-bd">
                          <td>
                            <div class="goods-item p-830486">
                              <div class="p-img">
                                  <a target="_blank" clstag="click|keycount|orderinfo|order_product" href="{$good.good_name}">
                                    <img width="60" height="60" data-lazy-img="done" title="{$good.good_name}" src="{$good.thumb_img}" class="">
                                  </a>
                              </div>
                              <div class="p-msg">
                                <div class="p-name"><a title="{$good.good_name}" target="_blank" clstag="click|keycount|orderinfo|order_product" class="a-link" href="/{$good.good_id}.html">{$good.good_name}</a>
                                </div>
                              </div>
                            </div>
                            <div class="goods-number">
                                x1
                            </div>

                            <div class="clr"></div>
                          </td>
                        </tr>

                    </eq>

                </foreach>

              </tbody>

            </foreach>

              </table>
              <div class="mt20">
                <div class="pagin fr">
                  {$page}
                </div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<import file="Admin.Js.jquery" />
<script type="text/javascript">

var _status = {$Think.get.status|default=2}; // 0：未完成，1：已完成
var _type = {$Think.get.type|default=0};  // 0：买家订单

// 自动选中正确的时间类别
var _timeType = {$Think.get.timeType|default=1}; // 查看一定时间范围内的订单
if (_timeType) {
  var _obj = $('.time-list ul li').eq(_timeType-1);
  _obj.find('a').addClass('curr');
  _obj.siblings().find('a').removeClass('curr');
  $('.ordertime-cont .time-txt').html(_obj.text() + '<b></b>');
}

// 收货人信息的查看和隐藏
$('.consignee').mouseenter(function () {
  $(this).find('.prompt-01').show();
}).mouseleave(function () {
  $(this).find('.prompt-01').hide();
});

function fullOrder (order_id) {
  $.post('/Order/fullOrder', {'order_id': order_id}, function (msg) {
    // backAppend(msg);
  });
  return false;
}

function showNotFull (status) {
  var type = {$Think.get.type|default=0};  // 0：买家订单
  status = status ? 0 : 1; // 为1，说明要查看未完成订单，所以status=0
  location.href = '/Order/showOrder/status/' + status + '/type/' + type;
}

function searchOrder (e) {
  var _this = $(e);
  var val = _this.prev().val();
  location.href = '/Order/showOrder/keyword/' + val;
}

function showOrderType (type) {
  location.href = '/Order/showOrder/type/' + type;
}

function showTimeOrder(e, timeType) {
  var status = {$Think.get.status|default=2}; // 0：未完成，1：已完成
  var type = {$Think.get.type|default=0};  // 0：买家订单
  var timeType = {$Think.get.timeType|default=1}; // 查看一定时间范围内的订单

  $('.ordertime-cont .time-list').toggle();
  var target = $(e.target);
  var timeType = target.attr('_val');
  $('.ordertime-cont .time-txt').html(target.text() + '<b></b>');
  if (timeType) {
    location.href = "/Order/showOrder/timeType/" + timeType + '/type/' + type + '/status/' + status;
  }
}

</script>
