{__NOLAYOUT__}
<div class="page head-page letter-page">
<div class="head-form address-box" id="form-div">
    <form action="" method="POST" class="letter-form">
        <div id="letter_div" class="moxie-shim moxie-shim-html5">
            <input type="email" name="user_name" class="send-mail" id="send-mail-user" placeholder="请输入您的用户名">
        </div>
        <div id="letter_div" class="moxie-shim moxie-shim-html5">
            <input type="email" name="email" class="send-mail" id="send-mail" placeholder="请输入您的邮箱">
        </div>
        <div class="buttons">
            <input value="发送验证" style="margin: 9px auto 5px auto;" id="btn-send-email" type="button" name="letter" onclick="sendEmail();">
        </div>
    </form>
</div>

</div>
